{% block body %}
<style>
   .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
   .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
   <div class="card-body">
      <div class="card-header table-responsive-xl">
        <div class="row justify-content-center">
         <h2 class="text-center" style="text-align: center;">Happytech Feedback</h2>
         <br>
         {% for template in template %}
            {% for applicantjob in applicantjob %}
               <h3 class="text-center" style="text-align: center;">{{ applicantjob.applicantname }} - {{ applicantjob.jobname }}</h3>
               <h4 class="text-center" style="text-align: center;">{{ template.feedback }}</h4>
            {% endfor %}
         {% endfor %}
         </div>
         <br>
         <br>
         {% if app.user != null %}
         <table class="table table-striped" style="width: 100%;">
            <thead>
               <tr>
                  <th>Feedback Statements</th>
               </tr>
            </thead>
            <tbody name="statementtable" id="statementtable">
               {% for statement in statement %}
               <tr>
                  <td style="text-align: center; width:100%; padding: 15px;">{{ statement.statementtext }}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
         <br>
         <br>
         <br>
         <br>
         <table class="table table-striped" style="width: 100%;">
            <thead>
               <tr>
                  <th>Comments</th>
               </tr>
            </thead>
            <tbody>
               {% for applicantjob in applicantjob %}
               <tr>
                  {% for response in response %}
                  <td style="text-align: center; width:33%; padding: 15px;">{{ response.comment }}</td>
                  {% endfor %}
               </tr>
            <tbody>
               {% endfor %}
         </table>
         <br>
         <br>
         <br>
         <br>
         {% for template in template %}
         <p style="text-align: center;">Yours Sincerely,</p>
         <p style="text-align: center;">{{ template.user }}</p>
         {% endfor %}
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}
