{% extends 'base.html.twig' %}

{% block title %}Edit Feedback Response{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        <div class="card-body">
          <div class="card-header table-responsive-xl">Edit Feedback Response</div>
          {% if app.user != null %}
          {{ form_start(form) }}
          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.template, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>
          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.job, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>
          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.applicant, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>
          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.comment, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>
          <div class="form_group">
            <div class="col-md-12 mb-3">
              {{ form_row(form.feedback, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12 col-md-offset-4" style="margin-top:5px;">
              <button type="submit" class="btn btn-primary btn-block">
                <i class="fa fa-btn fa-user"></i> Edit Feedback Response
              </button>
            </div>
          </div>
          {{ form_end(form) }}
          {% endif %}
        </div>
      </div>
</div>
{% endblock %}
