{% extends 'base.html.twig' %}

{% block title %}View Statements{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        <div class="card-body">
          <div class="card-header">
<h2 class="text-center">Statement Details</h2>
<button type="button" class="btn btn-outline-primary btn-block"><a class="nav-link" href="{{ path('statement_create') }}">Create Statement</a></button></div>
          {% if app.user != null %}
<label class="form-label" for="statementfilter">Filter Statements</label>
<input class="form-control" id="statementfilter" name="statementfilter" value="">
          <table class="table">
            <tr>
              <th>Statement ID</th>
              <th>Statement Name</th>
              <th>Decommissioned</th>
            </tr>
            {% for statement in statement %}
            {% set id = statement.id %}
	<tbody name="statementtable" id="statementtable">
            <tr>
              <td><a class="nav-link" href="{{ path('statement_edit', {'id': statement.id}) }}">{{ statement.id}}</a></td>
              <td>{{ statement.statement }}</td>
              <td>{{ statement.decommissioned ? 'Yes' : 'No' }}</td>
            </tr>
	</tbody>
            {% endfor %}
          </table>
          {% endif %}
        </div>
      </div>
</div>
 <script>
$(document).ready(function(){
  $("#statementfilter").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#statementtable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script> 
{% endblock %}

