{% extends 'base.html.twig' %}
{% block title %}View Applicants{% endblock %}
{% block body %}
<style>
   .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
   .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
   <div class="card-body">
      <div class="card-header table-responsive-xl">
         <h2 class="text-center">Applicant Details</h2>
         <button type="button" class="btn btn-outline-primary btn-block"><a class="nav-link" href="{{ path('applicant_create') }}">Create Applicant</a></button>
      </div>
      {% if app.user != null %}
      {{ knp_pagination_filter(pagination, {'a.name': 'Name', 'a.email': 'Email','a.decommissioned': 'Decommissioned'}) }}
      <table class="table table-striped">
         <thead>
            <tr>
               <th>Applicant ID</th>
               <th>Applicant Name</th>
               <th>Email Address</th>
               <th>CV</th>
               <th>Decommissioned</th>
            </tr>
         </thead>
         <tbody name="applicanttable" id="applicanttable">
            {% for applicant in pagination %}
            {% set id = applicant.id %}
            <tr>
               <td><a class="nav-link" href="{{ path('applicant_edit', {'id': applicant.id}) }}">{{ applicant.id}}</a></td>
               <td>{{ applicant.name }}</td>
               <td>{{ applicant.email }}</td>
               <td><a href="{{ asset('uploads/cv/' ~ applicant.cv) }}">{{ applicant.cv }}</a></td>
               <td>{{ applicant.decommissioned ? 'Yes' : 'No' }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
         {{ knp_pagination_render(pagination, null, {}, {
         'align': 'center',
         'size': 'large',
         'rounded': true,
         }) }}
      {% endif %}
   </div>
</div>
</div>
{% endblock %}
